Source: microsoft-authentication-library-for-python
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Luca Boccassi <bluca@debian.org>,
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               python3-all,
               python3-mock <!nocheck>,
               python3-jwt <!nodoc>,
               python3-setuptools,
               python3-sphinx <!nodoc>,
               python3-sphinx-paramlinks,
Standards-Version: 4.6.1
Section: python
Priority: optional
Rules-Requires-Root: no
Homepage: https://github.com/AzureAD/microsoft-authentication-library-for-python
Vcs-Browser: https://salsa.debian.org/python-team/packages/microsoft-authentication-library-for-python
Vcs-Git: https://salsa.debian.org/python-team/packages/microsoft-authentication-library-for-python.git
Testsuite: autopkgtest-pkg-python

Package: python3-msal
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
Description: Microsoft Authentication Library (MSAL) for Python
 The Microsoft Authentication Library for Python enables applications to
 integrate with the Microsoft identity platform. It allows you to sign in users
 or apps with Microsoft identities (Azure AD, Microsoft Accounts and Azure AD
 B2C accounts) and obtain tokens to call Microsoft APIs such as Microsoft Graph
 or your own APIs registered with the Microsoft identity platform. It is built
 using industry standard OAuth2 and OpenID Connect protocols
